
h1
{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.h1WhiteText
{
    color: white;
    font-size: 35px;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.pWhiteText
{
    color: white;
    
}

h2
{
    font-size: 25px;
}

p, li{
    font-size: 16px;
}


.navBar-styling
{
    height: 120px;
    background-color: #000324;
}

.spaceBetweenContainer
{
    padding: 2%;
}

/* Content inside */
.navBar-links
{
    font-size: 20px;
    color: aliceblue;
    padding-top: 70px;
    text-decoration: none;
}

.homeContent
{
    position: absolute;
    padding: 5%;
    left: 350px;
    text-align: center;
    background-color: #00032494;
    font-size: 45px;
    color: aliceblue;
}

.headerRoomContent
{
    position: absolute;
}

.amenities-row1-padding
{
    padding-top: 4.5rem;
}

.amenities-row2-padding
{
    padding-top: 4rem;

}
.amenities-row2-padding-valet
{
    padding-left: 100px;
}


.absoluteMe
{
    position: absolute;

}

                        /* images */
                        /* Start Awards Page */
.hamAward
{   
    width: 369px;
    display: block
    
}

.awardPadding1
{
    padding-right: 500px;
    padding-bottom: 100px;
    
}

.awardPaddingText
{
}
                            /* End Awards Page */

.headerPage
{
    width: 100%;
    height: 500px;
}

.headerRooms
{
    width: 100%;
    height: 738px;
}
.amenitiesPage
{
    width: 100%;
    height: 548px;
}

                            /* Start Packages Page */
.hamHeart
{
    width: 564px;
    height: 234px;
    padding-right: 0%;
    margin: 0%;
}

                            /* End Packages Page */

                             /* Start Reserve Page */
.reserveRoom
{
    background-color: #000324;
    position: absolute;
    
}

.reserveBackground
{
    background-image: url("../assets/hamsterreserve.jpg");
    background-color: #cccccc;
}
                                /* End Reserve Page */

                                /* Footer Page */
.footer
{
    background-color: #000324;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
}
