/* ----------------------------------------------------- General Use Start ---------------------------------------------------*/

@font-face
{
    font-family: 'Dosis-Regular';
    src: url("../assets/fonts/Dosis-Regular.ttf");
}

@font-face
{
    font-family: 'SourceSans';
    src: url("../assets/fonts/SourceSans3-Regular.ttf");
}

.absoluteMe
{
    position: absolute;

}

.removePadding
{
   padding: 0%;
   margin: 0%;
      
}

.pagePadding
{
    padding-bottom: 6rem;
}

.pagePaddingDown
{
    padding-top: 6rem;
}

h1, a
{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: 'Dosis-Regular'
}

.h1WhiteText
{
    color: white;
    font-size: 35px;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: 'Dosis-Regular'
}

.pWhiteText
{
    color: white;

}

h2
{
    font-size: 25px;
    font-family: 'Dosis-Regular'
}

p, li{
    font-size: 16px;
    font-family: 'SourceSans';
}

/* ----------------------------------------------------- General Use End ---------------------------------------------------*/

/* ----------------------------------------------------- Nav Bar Start ---------------------------------------------------*/
.navBar-styling
{
    height: 120px;
    background-color: #000324;
}

.spaceBetweenContainer
{
    padding: 2%;
}

.navBar-links
{
    font-size: 20px;
    color: aliceblue;
    padding-top: 70px;
    text-decoration: none;
}
/* ------------------------------------------------------ Nav Bar End ---------------------------------------------------*/

/* ------------------------------------------------------ Header Start --------------------------------------------------*/
.homeContent
{
    position: absolute;
    padding: 5%;
    margin-top: 4.5rem;
    text-align: center;
    background-color: #000324ca;
    font-size: 45px;
    color: rgb(255, 255, 255); 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
}

.headerRoomContent
{
    position: absolute;
}

/* ------------------------------------------------------ Header End ----------------------------------------------------*/

/* ------------------------------------------------------ Awards Start --------------------------------------------------*/
@media screen and ( max-width: 768px) 
{
    .awardImageResponse
    {
        width: 100px;
    }
}

/* ------------------------------------------------------ Awards End --------------------------------------------------*/


/* ------------------------------------------------------ Room Start ----------------------------------------------------*/

@media screen and ( max-width: 768px) 
{
    .responsiveMe
    {
        width: 100%;
    }
}

.cardTextPadding
{
    padding-top: 4.5rem;
}

.cardSpacing
{
    margin: 1rem;
}

/* ------------------------------------------------------ Room End ------------------------------------------------------*/

/* ------------------------------------------------------ Packages Start ------------------------------------------------*/
.packageColor
{
    color: #2e66c6;
    font-family: 'SourceSans';
}

.packageImages
{ 
    display: block;
    max-width: 100%;
    height: auto; 
    
}

/* ----------------------------------------------------- Packages end --------------------------------------------------*/

/* ----------------------------------------------------- Amenities Start -----------------------------------------------*/
.amenitiesBackground
{
    background-image: url(../assets/bg.jpg);
    text-align: center;
    margin-bottom: 5rem;

}

.row1-header
{
    padding-top: 2rem;
}
.row2-text
{
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}
/* ----------------------------------------------------- Amenities End -------------------------------------------------------*/

/* ----------------------------------------------------- Reserve Start -------------------------------------------------------*/
.reserveText
{
    background-color: #000324;
}

.reserveButton
{
    color: rgb(255, 255, 255);
    
}

.hide
{
    color: #000324;
}

.reserveImage
{
    display: flex;
    justify-content: center;
}

/* ----------------------------------------------------- Reserve End -------------------------------------------------------*/

/* ----------------------------------------------------- Footer Start -------------------------------------------------------*/

.footer
{
    background-color: #000324;
    text-align: center;
}
/* Footer End */

.headerPage
{
    width: 100%;
    height: 500px;
}

.headerRooms
{
    width: 100%;
    height: 738px;
}
.amenitiesPage
{
    width: 100%;
    height: 548px;
}

/* ----------------------------------------------------- Footer End -------------------------------------------------------*/